:root {
  --text-color: #213547;
  --bg-color: #ffffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/* Responsive Headings */
h1 {
  font-size: clamp(2rem, 4vw, 3.2em);
}

/* Responsive Buttons */
button {
  padding: 0.8em 1.4em;
  font-size: 1.1em;
}

@media (max-width: 640px) {
  body {
    padding: 0 10px;
  }

  h1 {
    font-size: 2rem;
  }
}
